<% if session[:id] %>
<h1>New Administrator</h1>
<div class="borderedBox">
<%= form_for(@user, :url => '/admin') do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %> <br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %> <br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :name %> <br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %> <br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
  <label for="user_isAdmin">Is this User an Admin? </label>
  <select id="user_isAdmin" name="user[isAdmin]">
     <option value='1'>true</option>
     <option value='0'>false</option>
  </select>
  </div>
  <div class="actions" style="padding-right: 150px">
    <%= f.submit "Sign Up!" %>
  </div>
<% end %>
</div>
<% else %>
    <h1>You might want to go here -> <%= link_to ' Home ', '/liveQuestions' %></h1>
<% end %>