<h1>LiveQuestion's User List</h1>
<div class="borderedBox">
<table>
  <tr>
    <th>Username</th>
    <th>Name</th>
    <th>Email</th>
    <th>Is this user an Admin?</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr align="center">
    <td><%= user.username %></td>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <% if user.isAdmin == 1 %>
    <td>Yes</td>
    <% else %>
    <td>No</td>
    <% end %>
    <td><%= link_to 'See Details', user %></td>
  </tr>
<% end %>
</table>

</div>
| <%= link_to ' Back to Home', '/liveQuestions' %> |
<br />

