<br />
<% if session[:id] %>
<h1>Details for User <%= @user.name %></h1>
<div class="borderedBox">
<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Administrator Rights:</b>
  <% if @user.isAdmin == 1 %>
  Full Administrator Rights
  <% else %>
  No Administrator Rights
  <% end %>
</p>


<p>
  <b>Number of Posts by this User:</b>
  <%= @number_of_posts %>
</p>

<% if session[:isAdmin] == 1 %>
<p>
  <b> Total Number of Votes for the user's Posts:</b>
  <%= get_number_of_votes(@user) %>
</p>

 <p>
  <b>Posts over time:</b>
  <%= get_posting_frequency(@user) %>
</p>
<% end %>
 <% if session[:isAdmin] == 1 and Integer(session[:id]) != Integer(@user.id) %>
         <%= button_to "Delete User" , :action => :destroy, :controller => :users , :id => @user.id %>
 <% end %>
<%= link_to ' Home ', '/liveQuestions' %>
<% if session[:isAdmin] == 1%>
  | <%= link_to ' User Listing ', '/users' %>
<% end %>
</div>
<% else %>
    <h2>You are not supposed to be here!</h2> <br />
    | <%= link_to ' Home ', '/liveQuestions' %> |
<% end %>
