<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Isadmin:</b>
  <%= @user.isAdmin %>
</p>


<p>
  <b>Number of Posts by this User:</b>
  <%= @number_of_posts %>
</p>

 <% if session[:isAdmin] == 1  %>
         <%= button_to "Delete User" , :action => :destroy, :controller => :users , :id => @user.id %>
 <% end %>
<%= link_to 'Back', '/liveQuestions' %>
