

<% posts.each do |post| %>

    <div class = "post">
        <% if session[:isAdmin] == 1  %>
            <p><b><%= link_to "#{get_username(post.users_id)}", :controller => :users, :action => :show, :id => post.users_id %>: </b> <%= h(post.description) %></p>
        <% else %>
            <b><%= h(get_username(post.users_id)) %>: </b> <%= h(post.description) %>
        <% end %>
        <hr />
        <table class = "replies">
        <% Post.find_replies(post).each do |reply| %>
            <tr class = "reply">

                <td><b><%= h(get_username(reply.users_id)) %>: </b> <%= h(reply.description) %></td>
                <% if session[:id] %>
                    <td><%= button_to "Vote reply" , :action => :add_vote, :id => reply, :user_id => session[:id], :class => "reply_button" %></td>
                <% end %>
                <td><b><%= reply.num_of_votes %> Votes</b></td>
            </tr>
            <% end %>
        </table>
        <% if session[:id] %>
            <%= form_tag(:action => :add_reply, :post_id => post, :user_id => session[:id]) do %>
                <%= text_area_tag(:text, "Enter reply to post here.") %>
                <%= submit_tag("Add Reply") %>
            <% end %>
            <hr />
        <% end %>
        <table>
            <td><b><%= post.num_of_votes %> Votes</b> </td>
            <td>Posted on <%= h(post.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%B %d, %Y %I:%M %p")) %></td>
            <% if session[:id] %>
                <td><%= button_to "Vote Post" , :action => :add_vote, :id => post, :user_id => session[:id] %></td>

                <% if session[:isAdmin] == 1  %>
                    <td><%= button_to "Delete Post" , :action => :destroy, :controller => :posts , :id => post %></td>
                <% end %>
            <% end %>
        </table>
   </div>
<% end %>