<hr />
<% if !session[:id] %>
    <p><%= link_to "Login to Post", login_path %></p>
<% end %>


<!-- This if-else block prevents adding of posts if not signed in -->
<% if session[:id] %>
    <div class="logged_in_as">Logged in as <%= session[:username] %> <%= link_to "Log Out", logout_path %></div>
    <hr />
<% end %>
<% form_tag(:action => :search) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= select_tag(:search_by, options_for_select([['Post content', 1], ['Username', 2]])) %>
    <%= submit_tag("Search") %>
<% end %>
<hr />
<% if session[:id] %>
    <%= form_tag(:action => :add_post, :user_id => session[:id]) do %>
        <%= text_area_tag(:text, "Enter text for new post here.") %>
        <%= submit_tag("New Post") %>
    <% end %>
<% end %>

<hr />
<%= render :partial => "post_list", :locals => {:posts => @posts} %>