<h1>Add Post:</h1>
  <%= form_tag(:action => :add_post, :user_id => 1) do %>
    <%= text_area_tag(:text) %>
    <%= submit_tag("Post") %>
<% end %>
<h1>Listing posts</h1>

<table>
  <tr>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <div class="post">
    <%= h(post.description) %>
    <b># of votes:</b> <%= post.num_of_votes %>
    <%= button_to "Vote" , :action => :add_vote, :id => post, :user_id => 1 %>
    </div>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
