<div class="borderedBox">
<% form_tag(:action => :search) do %>
    Search the Site : <%= text_field_tag(:search, params[:search]) %>
    <%= select_tag(:search_by, options_for_select([['Post content', 1], ['Username', 2]])) %>
    <%= submit_tag("Search") %>
<% end %>
</div>
<br />

<% if session[:id] %>
   <div class="borderedBox">
     <table>
        <%= form_tag(:action => :add_post, :user_id => session[:id]) do %>
            <td><%= text_area_tag(:text, "Enter text for new post here.", :size => '100x5') %></td>
            <td><%= submit_tag("New Post", {:class => 'addReply'}) %></td>
        <% end %>
     </table>
   </div>
<% end %>
<br />
<div class="siteBody"   >
    <%= render :partial => "post_list", :locals => {:posts => @posts} %>
</div>