<h1>Add Post:</h1>
  <%= form_tag(:action => :add_post, :user_id => 1) do %>
    <%= text_area_tag(:text) %>
    <%= submit_tag("Post") %>
<% end %>
<h1>Listing posts</h1>

<table>
  <tr>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <div class="post">
    <b><%= h(post.users_id) %>: </b> <%= h(post.description) %>
      <% Post.find(:all, :conditions => {:parent => post} ).each do |reply| %>
          </br>
          <div class = "reply">
             <b><%= h(reply.users_id) %>: </b> <%= h(reply.description) %>
             <%= button_to "Vote reply" , :action => :add_vote, :id => reply, :user_id => 1 %>
          <b># of votes:</b> <%= reply.num_of_votes %>
          </div>
      <% end %>

    </br>
    <b># of votes:</b> <%= post.num_of_votes %>
      <%= form_tag(:action => :add_reply, :post_id => post, :user_id => 1) do %>
    <%= text_area_tag(:text) %>
    <%= submit_tag("Add Reply") %>
          </br>
<% end %>
    <%= button_to "Vote Post" , :action => :add_vote, :id => post, :user_id => 1 %>
    </div>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
