<hr />
<% if !session[:id] %>
    <p><%= link_to "Login to Post", login_path %></p>
<% end %>

<!-- This if-else block prevents adding of posts if not signed in -->
<% if session[:id] %>
<div class="logged_in_as">Logged in as <%= session[:username] %> <%= link_to "Log Out", logout_path %></div>
<hr />
  <%= form_tag(:action => :add_post, :user_id => session[:id]) do %>
    <%= text_area_tag(:text) %>
    <%= submit_tag("New Post") %>
    <% end %>
<% end %>
<h1>Listing posts</h1>

<table>

<% @posts.each do |post| %>
  <tr>
    <div class="post">
    <b><%= h(post.users_id) %>: </b> <%= h(post.description) %>

      <% Post.find(:all, :conditions => {:parent => post} ).each do |reply| %>
          <div class = "reply">
             <b><%= h(reply.users_id) %>: </b> <%= h(reply.description) %>
           <b><%= reply.num_of_votes %> Votes</b>
            <% if session[:id] %>
             <span class="reply_button"><%= button_to "Vote reply" , :action => :add_vote, :id => reply, :user_id => session[:id] %></span>
             <% end %>
          </div>
      <% end %>

    <br />
    <b><%= post.num_of_votes %> Votes</b>
     <% if session[:id] %>
      <%= form_tag(:action => :add_reply, :post_id => post, :user_id => session[:id]) do %>
        <%= text_area_tag(:text) %>
      <%= submit_tag("Add Reply") %>
     <% end %>
     <br>
<% end %>
    <% if session[:id] %>
    <%= button_to "Vote Post" , :action => :add_vote, :id => post, :user_id => session[:id] %>
    <% end %>
   </div>
  </tr>
<% end %>
</table>