<html>
  <head>
    <title>Live Questions</title>
    <%= stylesheet_link_tag "backchannel" , :media => "all" %>
    <%= javascript_include_tag :defaults %>
    <%=javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
    <%=javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"%>
    <%=javascript_include_tag "jquery-rails.js" %>
  </head>
  <body>
    <div id="banner" >

      <h1 class="page_title"><a href="/"><b><%= @page_title || "Live Questions" %></b></a></h1>
      <div class="loginHeader" align="right">
        <% if !session[:id] %>
            <p><%= link_to "Login", login_path %> | <%= link_to "New User?", signup_path %></p>
        <% else %>
            <div class="logged_in_as">Logged in as <%= link_to session[:username], '/profile', :title => "Your Profile" %> |
            <%= link_to "Log Out", logout_path, :title => "Log Out!" %></div>
        <% end %>
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        </div>
    </div>
    <div id="main" >
      <%= yield %>
    </div>
   </body>
 </html>