<html>
  <head>
    <title>Live Questions</title>
    <%= stylesheet_link_tag "backchannel" , :media => "all" %>

  </head>
  <body>
    <div id="banner" >

      <h1 class="page_title"><a href="/"><b><%= @page_title || "Live Questions" %></b></a></h1>
      <div class="loginHeader" align="right">
        <% if !session[:id] %>
            <p><%= link_to "Login", login_path %> | <%= link_to "New User?", signup_path %></p>
        <% else %>

            <div class="logged_in_as">Logged in as <%= link_to session[:username], '/profile', :title => "Your Profile" %> |
             <% if session[:isAdmin] == 1 %>
              <%= link_to 'Users List', '/users' %> |    <%= link_to "Create Admin" , '/newAdmin' %> |
             <% end %>
            <%= link_to "Log Out", logout_path, :title => "Log Out!" %></div>
        <% end %>
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        </div>
    </div>
    <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>

    <div id="main" >
      <%= yield %>
    </div>
   </body>
 </html>